<div class="jumbotron">

	<center>
		<h1>My Library</h1>

		<img src="http://www.thisiscolossal.com/wp-content/uploads/2017/06/library-1.jpg">
		<br>

		<%= link_to "Look at all the books I have read!", books_path, class: "btn btn-primary" %>	
	</center>	

</div>